
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página restrita aos administradores ";
}

<div class="text-center">
    <h3> Você não tem permissão para acessar esta funcionalidade. <a asp-controller="Home" asp-action="Index"> Clique aqui para voltar a Home</a></h3>
</div>
