@model ContactModel
@{
    ViewData["Title"] = "Cadastro de contatos";
}


<div class="text-center">
    
    <h1 class="display-4"> Cadastrar novo contato</h1>

</div>


<form asp-controller="Contact" asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="emailHelp" placeholder="Digite seu nome">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        <label>Telefone</label>
        <input type="tel" asp-for="Phone" class="form-control" placeholder="Digite um telefone para contato" />
        @Html.ValidationMessageFor(x => x.Phone)
        <small id="emailHelp" class="form-text text-muted">Não iremos compartilhar esta informação.</small>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" asp-for="Email" class="form-control " placeholder="Digite seu email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Estou ciente dos termos </label>
    </div>
    <div class="gap-2" role="group" aria-label="Basic example">
        <!--<a role="button" class="btn btn-success" asp-controller="#" asp-action="#">Salvar</a> -->
        <button type="submit" class="btn btn-success"> Salvar </button>
        <a role="button" class="btn btn-warning text-white" asp-controller="Contact" asp-action="Clean">Limpar</a>
        <a role="button" class="btn btn-danger" asp-controller="Contact" asp-action="Index">Voltar</a>
    </div>
    
</form>

