@model ResetEmailModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir a senha";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-close close-alert" arial-label="Close"> </button>
        @TempData["Error"]
    </div>
}

<div class="text-center">
    <h1> @ViewData["Title"]</h1>
    <br />

    <form asp-controller="Login" asp-action="SendEmailReset" method="post">
        <div class="row mb-3">
            <label for="login" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Login">
                @Html.ValidationMessageFor(x => x.Login)
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Email">
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Redefinir a senha</button>
        <a role="button" class="btn btn-danger" asp-action="Index" asp-controller="Login">Voltar</a>
    </form>


</div>