@{
    ViewData["Title"] = "Cadastro";
}
<h1>@ViewData["Title"]</h1>

<fieldset>
    <legend> Cadastre-se no Sistema </legend>
        <div class="row"> 
            <div class="fore-group"> 
                <label> Nome </label>
                <input type="texto" nome="nome" id="nome" class="form-control" /> 
            </div>
        </div>
</fieldset>

