@model NewsModel
@{
    ViewData["Title"] = "Conirmação apagar notícia";
}

<div class="text-center">
    <h3 class="display-6"> Deseja apagar a notícia? ()</h3>

    <a class="btn btn-success btn-block" role="button" asp-route-id="@Model.Id" asp-controller="News" asp-action="DeleteNews"> Sim</a>
    <a class="btn btn-danger btn-block" role="button" asp-controller="News" asp-action="Index"> Não</a>
</div>
