@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Página Inicial</h1>
</div>
<br />
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare erat tristique neque gravida, sed pulvinar sem pharetra. Aliquam tincidunt sodales elit in sollicitudin. In ultricies vulputate neque, gravida pharetra orci. Vestibulum rutrum ultricies ultrices. In commodo mi quis lorem sodales, nec mollis lorem luctus. Sed malesuada vestibulum nisi, quis posuere arcu venenatis non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In bibendum nibh ante, sed volutpat lorem vehicula venenatis. In ligula magna, varius a tristique eu, ornare pellentesque orci. Morbi vulputate molestie dictum. Duis est mi, eleifend rutrum mi sit amet, dapibus placerat ex. In elementum mi a ante condimentum aliquam. Integer ut urna nec dolor sodales mattis.

    Maecenas vulputate justo nec mauris mollis, at semper massa viverra. Ut pellentesque fringilla ipsum sodales tincidunt. Nam dapibus purus vel dapibus tempor. Maecenas convallis vitae sem vel mattis. Cras faucibus nec libero in egestas. Pellentesque et efficitur eros. Praesent ligula nisl, aliquet sed orci ut, venenatis elementum sem. Aenean a neque nec sapien sollicitudin accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sed consequat orci, at sagittis magna. Pellentesque eget facilisis enim, ac eleifend dolor. Proin non velit lectus. Mauris diam ante, lacinia a purus eget, venenatis ultrices ipsum. Suspendisse ut bibendum nibh, eget tincidunt tortor. Nullam molestie maximus elementum. Proin egestas augue sed vestibulum consectetur.

    Nulla in dictum nunc. Maecenas varius maximus risus. Nulla sit amet justo a nunc posuere auctor. Curabitur facilisis iaculis lacinia. Duis id ligula ut leo maximus bibendum quis quis quam. Nam vehicula viverra diam a congue. Phasellus velit nulla, condimentum nec sapien et, elementum elementum enim. Curabitur facilisis scelerisque volutpat. Vivamus ac lectus feugiat dolor porta posuere.
</div>
<br />
<br />
<div>
    Aliquam ut magna ipsum. Nunc eu neque ut eros aliquam luctus. Integer quis massa vitae sem suscipit dictum. Aliquam vel ultrices ipsum. Proin scelerisque pulvinar libero, at feugiat velit malesuada ac. Nam sed ante lacus. Donec sit amet augue in lorem vulputate egestas sit amet in sem. Aliquam eget ante neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sapien risus, pharetra nec vehicula eu, blandit vel felis. Suspendisse vel massa massa.

    Nulla in dictum nunc. Maecenas varius maximus risus. Nulla sit amet justo a nunc posuere auctor. Curabitur facilisis iaculis lacinia. Duis id ligula ut leo maximus bibendum quis quis quam. Nam vehicula viverra diam a congue. Phasellus velit nulla, condimentum nec sapien et, elementum elementum enim. Curabitur facilisis scelerisque volutpat. Vivamus ac lectus feugiat dolor porta posuere.
</div>
<br />
<div class="text-center">
    <a href="https://localhost:7210/home/contato"> Ir aos contatos</a>
</div>

