@model List<ContactModel>


<table id="table-contacts-user" class="display" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Celular</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            foreach (var contact in Model)
            {
                <tr>
                    <th scope="row">@contact.Id</th>
                    <td> @contact.Name </td>
                    <td> @contact.Email </td>
                    <td> @contact.Phone </td>
                </tr>
            }
        } else
        {
            <tr class="odd"> 
                <td valign="top" colspan="4"> Nenhum contato encontrado.</td>
            </tr>
        }

        
    </tbody>
</table>